<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LinkedIn Advanced Search</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="linkedIn" ng-controller="linkedInCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 style="text-align:center;padding-right: 234px;">{{heading}}</h1>
        <div class="alert alert-danger" ng-show="errorFlag">
           {{errorMessage}}
        </div>
        <form class="form-horizontal" name="myForm" ng-submit="createQueryString()">
          <div class="form-group" ng-repeat="titles in titlesArray">
            <label for="title" class="control-label col-xs-2">Title</label>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="" ng-model="titles.title">

            </div>
            <div class="form-group col-xs-2">
              <a>
                <span class="glyphicon glyphicon-plus"   ng-show="(titlesArray.length - 1) == $index" ng-click="addRemoveTitle(1,$index)"></span>
                <span class="glyphicon glyphicon-minus"  ng-click="addRemoveTitle(2,$index)"></span>
              </a>
            </div>
          </div>

          <div class="form-group">
            <label for="company" class="control-label col-xs-2">Company</label>
            <div class="col-xs-6">
              <textarea name="company" rows="8" cols="40" class="form-control" ng-model="companies"></textarea>
            </div>
          </div>
          <button class="btn btn-success" type="submit">Search</button>
          <div class="form-group">
            <label for="company" class="control-label col-xs-2">Your Search:</label>
            <div class="col-xs-6">
              <textarea name="search" id="search"rows="8" cols="40" class="form-control" ng-model="queryString"></textarea>
            </div>
          </div>
          <button class="btn btn-primary" ng-click="copyFunction()">Copy</button>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>



  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.19/angular.js"></script>
  <script type="text/javascript">
  angular.module('linkedIn',[]).controller('linkedInCtrl',function($scope,$timeout){
    $scope.heading = "Linkedin Pro Tool";
    $scope.titlesArray=[{title:""}];
    $scope.queryString='';
    $scope.companies='';
    $scope.errorFlag=false
    $scope.addRemoveTitle=function(type,index){
      if (type == 1) {
        $scope.titlesArray.push({title:""})
      } else if(type == 2){
        $scope.titlesArray.splice(index,1);
      }
    }

    $scope.createQueryString=function(){

      if ($scope.titlesArray[0].title ==='' && $scope.companies ==='') {
            $scope.errorFlag=true;
            $scope.errorMessage="Please either of title or company field !"

            $timeout(function(){
              $scope.errorFlag=false;
              $scope.errorMessage=""
            },2000)

            return ;

      }
      $scope.createTitleString();
      $scope.createCompanyString();


    }

    $scope.copyFunction = function(){
      var copyText = document.getElementById("search");
      copyText.select();
      document.execCommand("Copy");
    }

    $scope.createTitleString=function(){

      $scope.queryString="("
      angular.forEach($scope.titlesArray,function(obj,index){
        //console.log(obj)
        if ( $scope.titlesArray.length-1 === index ){

          $scope.queryString= $scope.queryString + `title: "${obj.title}")` ;

        } else {
          $scope.queryString= $scope.queryString + `title: "${obj.title}" OR `
        }
      });

    }

    $scope.createCompanyString= function(){

      var companyArr = $scope.companies.split('\n');
        $scope.queryString= $scope.queryString + " ("
        angular.forEach(companyArr,function(obj,index){

          if ( companyArr.length-1 === index && obj !==''){

            $scope.queryString= $scope.queryString + ` company:${obj})` ;

          } else {

            if ( obj !== '') {
              $scope.queryString= $scope.queryString + `company:${obj} OR `
            }

          }

      })
    }
  })
  </script>
</body>
</html>
